<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/Core</directory>
            <file>./src/App.php</file>
            <exclude>
                <file>./src/Core/Traits/Singleton.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>